.infosContainer {
  display: grid;
  grid-template-columns: 500px auto;
  justify-content: space-between;
  gap: 3.125rem;
  z-index: 1;
  margin-bottom: 12rem;
  position: relative;
}

.infosContainer h1 {
  font-size: 3.125rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.heroDescription {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2;
  z-index: 20;
  margin-bottom: 1.875rem;
}

.heroContent {
  position: relative;
}

.heroNameFav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.heroBg {
  position: absolute;
  font-size: 20vw;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  top: -150px;
  right: -30%;
  color: #fff;
  opacity: 0.6;
  white-space: nowrap;
  z-index: 0;
  user-select: none;
  pointer-events: none;
}

.comicsContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: stretch;
  gap: 3.125rem;
  margin-top: 3.125rem;
}

.comicsTitle {
  color: #404040;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  max-width: 150px;
}
