.button {
  display: flex;
  align-items: center;
  gap: 0.875rem;
  cursor: pointer;
}

.button img {
  max-width: 1.125rem;
}

.button span {
  color: #ff1510;
  font-size: 1.125rem;
  font-weight: 500;
  opacity: 0.5;
}
