.hero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  gap: 2.5rem;
  padding-top: 1.25rem;
}

.thumb {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-bottom: 4px solid red;
  margin-bottom: 1.25rem;
}

.heroInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.hero h3 {
  font-size: 1.125rem;
}

.heroNumber {
  color: #b9b9b9;
  font-size: 1.125rem;
  font-weight: 500;
}

.filtersCol {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filtersContainer {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.buttonSortContainer {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.buttonSort {
  display: flex;
  gap: 0.875rem;
  align-items: center;
  cursor: pointer;
}

.buttonSortText {
  color: #ff1510;
  font-size: 1.125rem;
  font-weight: 500;
  opacity: 0.5;
  display: flex;
  gap: 0.875rem;
  align-items: center;
}

.buttonSort img {
  max-width: 1.125rem;
}

@media only screen and (max-width: 1024px) {
  .hero {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
  }

  .filtersCol,
  .filtersContainer {
    gap: 1rem;
    flex-direction: column;
    align-items: start;
  }
}

@media only screen and (max-width: 640px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .filtersCol,
  .filtersContainer {
    gap: 1rem;
    flex-direction: column;
    align-items: start;
  }
}
